.wrapper {
  width: 100%;
  max-width: calc(12rem + var(--max-width));
  margin-inline: auto;
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding-inline: 2rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding-inline: 0.5rem;
  }
}
