.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: var(--nav-height);
  display: block;
  box-shadow: 0 1px 1px 0 rgb(194, 194, 194);
  overflow: hidden;
  color: var(--clr-dark);
  background-color: var(--clr-light);
}

.navbar_container {
  z-index: 2;
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .navbar_container {
    background-color: var(--clr-light);
  }
}

.navbar_container > div {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: inherit;
}

.navbar_container > *:last-child {
  display: none;
}
@media screen and (max-width: 769px) {
  .navbar_container > *:last-child {
    display: inline-flex;
  }
}

ul,
li {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  height: 100%;
}
@media (max-width: 1024px) {
  ul,
  li {
    gap: 1rem;
  }
}

.link {
  text-align: center;
  padding: 0 0.5rem;
  position: relative;
  height: 100%;
  display: grid;
  place-items: center;
}

.link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: var(--clr-brand);
  z-index: 2;
}

.link:hover,
.link:focus {
  color: var(--clr-brand);
}

.logo {
  max-width: 50px;
}

/* Mobile nav style */
.nav-mobile {
  display: none;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: rgb(194, 194, 194, 0.5);
  position: fixed;
  top: 0;
}
.nav-mobile.active {
  display: block;
}

.nav-mobile nav,
.mobile-menu {
  background-color: var(--clr-light);
  width: 80%;
  height: calc(100% - var(--nav-height));
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.nav-mobile nav {
  padding: 2rem;
}

.nav-mobile nav > div:last-child {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: left;
  padding: 1.5rem 0;
  border-top: solid 1px rgb(194, 194, 194);
}

.mobile-link {
  text-transform: capitalize;
  font-size: 1.3rem;
  text-align: left;
}

span.mobile-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 769px) {
  .nav-mobile {
    display: none;
  }
}

.mobile-menu .header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  text-transform: capitalize;
  padding: 1rem;
  background-color: rgb(235, 235, 235);
}

.header span {
  font-size: 1.5rem;
}

.mobile-menu .body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.3rem;
}

.body > * {
  padding: 1rem 2rem;
}
