.navbar {
  height: 6.3rem;
  display: block;
  box-shadow: 0 1px 1px 0 rgb(194, 194, 194);
  overflow: hidden;
  color: var(--clr-dark);
}

.navbar_container {
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar_container > div {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: inherit;
}

ul,
li {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  height: 100%;
}

.link {
  text-align: center;
  padding: 0 0.5rem;
  position: relative;
  height: 100%;
  display: grid;
  place-items: center;
}

.link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: var(--clr-brand);
  z-index: 2;
}

.link:hover,
.link:focus {
  color: var(--clr-brand);
}

.logo {
  max-width: 50px;
}
