@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

:root {
  --max-width: 1440px;
  --clr-brand: #01713e;
  --clr-dark: #242021;
  --clr-light: #ffffff;
  --nav-height: 6.3rem;
}
@media screen and (max-width: 768px) {
  :root {
    --nav-height: 5rem;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1px;
  background-color: var(--clr-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 1024px) {
  body {
    letter-spacing: unset;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: inherit;
}

button {
  outline: 0;
  border: none;
  cursor: pointer;
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* UTILITY CLASSES */
.button {
  background-color: transparent;
  border: solid transparent 1px;
  color: var(--clr-dark);
  display: flex;
  gap: 1rem;
  /* place-content: center; */
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.8rem;
  min-width: 100px;
  font-size: 0.98rem;
  border-radius: 1.2rem;
}
@media (max-width: 1024px) {
  .button {
    font-size: 0.85rem;
    min-width: 80px;
  }
}
.button_simple:hover {
  color: var(--clr-brand);
}
.button_outlined {
  border-color: var(--clr-dark);
}
.button_filled {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  border-color: var(--clr-dark);
}
.button_light {
  border-color: var(--clr-light);
  color: var(--clr-light);
}
.button_dark {
  border-color: var(--clr-dark);
  color: var(--clr-dark);
}

@media screen and (max-width: 768px) {
  .not-mobile {
    display: none !important;
  }
}
